--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
keplergl
palettable
localtileserver
streamlit
streamlit-folium
streamlit-keplergl
streamlit-bokeh-events
scikit-learn
altair==4.1.0
pandas
# leafmap
# geemap
git+https://github.com/giswqs/leafmap
git+https://github.com/giswqs/geemap

