--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
streamlit
streamlit-folium
scikit-learn
altair==4.1.0
pandas
rasterio
pillow
joblib
matplotlib
# leafmap
# geemap
git+https://github.com/giswqs/leafmap
git+https://github.com/giswqs/geemap
